@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: rgb(250, 255, 245);
}

p{
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    font-style: normal;
}

ul{
    list-style-type: none;
}

a{
   color: rgb(0, 0, 0);
}
a:hover {
    transition: 0.3s;
    color: rgb(6, 61, 4);
  }


.imagens-container {
    display: flex;
    flex-wrap: wrap; 
}
.imagens-container img {
    box-shadow: 5px 5px 10px rgba(41, 39, 39, 0.5);
    width: 50%;
    height: 300px;
}

.caixa-1{
    box-shadow: 5px 5px 25px rgba(41, 39, 39, 0.5);
    position: relative;
    margin-bottom: 4rem;
    margin-top: -8rem;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    background-color: rgb(201, 201, 201);
    display: flex;
}   

.dentro{
    display: block;
    margin-right: auto;
    margin-left: auto;
}


header, footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    color:aliceblue;
    background-color: rgb(6, 61, 4);
    width: auto;
    height: 80px;
}

h1{ 
    font-size: 30px;
    margin: 30px 10px 15px 20px;
}

p{
    margin: 5px 10px 5px 20px;
    font-size: 25px;
}
 
a{
    font-size: 35px;
}

.d1{
    padding-top: 15px;
    padding-left: 10px;
    border-radius: 10px;
    border: 2px solid rgb(150, 151, 149);
    margin: 30px 10px 15px 20px;
}
