@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

p{
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-size: 300px;
    font-style: normal;
}


header, footer{
    font-size: large;
    text-align: center;
    color:aliceblue;
    background-color: black;
    width: auto;
    height: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}