@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

p{
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    font-style: normal;
}

ul{
    list-style-type: none;
}

a{
   color: rgb(0, 0, 0);
}


.imagens-container {
    display: flex;
    flex-wrap: wrap; /* Permite que as imagens se quebrem para a próxima linha se o espaço for insuficiente */
}
.imagens-container img {
    width: 50%; /* Ou a porcentagem que você quiser */
    height: 300px;
}

.caixa-1{
    box-shadow: 5px 5px 10px rgba(41, 39, 39, 0.5);
    position: relative;
    margin-bottom: 4rem;
    margin-top: -8rem;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    background-color: rgb(201, 201, 201);
    display: flex;
}   

.dentro{
    display: block;
    margin-right: auto;
    margin-left: auto;
}


header, footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    color:aliceblue;
    background-color: rgb(6, 61, 4);
    width: auto;
    height: 80px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}